/* Content Across All Pages */
.ahead {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
}

.subhead {
    float: right;
    margin-top: 25px;
}

.navbar {
    border-bottom: 2px solid #cccccc;
}

.navbar-brand{
    background-color: #4aaaa5;
    color: white !important;
    font-size: 30px;
    float: left;
    width: 203px;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 90px;
    font-weight: 700;
}

.page-header {
    color: #4aaaa5
}

body {
    background-image: url('dark-triangles.png');
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid darkslategray;
           }

.main-content {
    background-color: white;
    padding-top: 50px;
    margin-top: 50px
   
}

footer {
        border-top: 5px solid #4aaaa5;
        width: 100%;
        background-color: #666666;
        color: white;
        text-align: center;
        padding: 15px 0px 15px 0px
       }

/* Portfolio */

.portfolio {
    max-width: 33%;
    margin: auto;
    display: block;
    padding: 10px;
}

.portfolio:hover {
    opacity: .5;
}
   
  .overlay {
 position: absolute;
bottom: 0;
background-color: #4aaaa5;
transition: .5s ease;
opacity: 0;
color: white;
font-size: 20px;
padding: 5px;
text-align: center;
    }
      
 .holdme{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
      }

.holdme:hover .overlay {
    opacity:1;
}

/* Contact Me Page */

.form-group {
    margin-bottom: 1rem;
    width: 946px;
    margin-left: 5px;
    margin-right: 5px;
}
