/* Content Across All Pages */

.container{
    border: 2px solid whitesmoke;
}

.navbar-brand{
    background-color: #4aaaa5;
    color: white !important;
    font-size: 26px;
    padding: 15px;
}

.page-header {
    color: #4aaaa5
}

body {
    background-image: url('dark-triangles.png');
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
           }

.main-content {
    background-color: white;
    
}

footer {
        border-top: 5px solid #4aaaa5;
        width: 100%;
        background-color: #666666;
        color: white;
        text-align: center;
        padding: 15px 0px 15px 0px
       }

/* Portfolio */

.portfolio {
    max-width: 33%;
    margin: auto;
    display: block;
    padding: 10px;
}
   
  .overlay {
  position: absolute;
bottom: 0;
background-color: white;
width: 100%;
transition: .5s ease;
opacity: 0;
color: #4aaaa5;
font-size: 20px;
padding: 5px;
text-align: center;
    }
      
 .holdme{
  position: relative;
      }

.holdme:hover .overlay {
    opacity:1;
}

/* Contact Me Page */

.labels {
  display: inline-block;
  text-align: right;
  width: 960px;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 900px;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 900px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.message-input{
    height: 100px;
    width: 900px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}
#submit {
  position: relative;
  bottom: 10px;
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
  text-underline-position: 
}
.labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 100%;
    float: left;
  }
  .input-field {
    width: 900px;

}

